/* ID Selectors */

/*#hogwarts,
#ds9,
#shire,
#mordor {
  display: none;
}*/

#comingSoon {
  display: none;
}


/* Core Styles */

* {
  box-sizing: border-box;
}

header h1,
header h3 {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .8);
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  margin: 10px 0 10px 0;
  border-radius: 1%;
}

/* Main Styles */

.mainHeader {
  padding: 20px;
  height: 200px;
  background: linear-gradient(#1D2120, transparent 50%),
              linear-gradient(0deg, #5A5C51, transparent),
              #795548 url('../img/mtn-landscape-1.jpg') no-repeat center;
  background-size: cover;
}

.mainSection,
.mainFooter {
  text-align: center;
}

.container {
  min-height: calc(100vh - 300px);
  text-align: center;
}

.mainSection ol {
  display: inline-block;
  margin: 10px;
}

.mainSection li {
  margin: 0 5px 5px 0;
}

/*.quizSection {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  padding: 6% 12%;
  border-top: #1D2120 10px solid;
  background: #5A5C51 url('../img/forest-pipe.jpg') no-repeat center;
  background-size: cover;
  margin: 40px 0 60px;
  border-radius: 1%;
  box-shadow: inset 0 0 10px 5px #1D2120;
}*/

.gameSection {
  align-items: center;
  padding: 10px;
}

.results li {
  display: inline-block;
  list-style: none;
  font-size: .9em;
  text-align: center;
  font-weight: bold;
  box-shadow: -3px 3px 25px rgba(119, 201, 212, 0.8);
  text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  color: #fff;
  padding: 10px;
  margin: 10px 30px 0 0;
  background: #57BC90;
  line-height: 3.5em;
  border-radius: 100%;
  height: 75px;
  width: 75px;
}

.mainFooter {
  font-size: .75em;
  width: 100%;
  padding-top: 50px;
  height: 100px;
  border-bottom: solid 10px #BCD5D1;
}

/*.quizDivider {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  border-top: 2px solid #BCD5D1;
}

.resultHogwarts {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  padding: 6% 12%;
  border-top: #1D2120 10px solid;
  background: #5A5C51 url('../img/hogwarts.jpg') no-repeat center;
  background-size: cover;
  margin: 40px 0 60px;
  border-radius: 1%;
  box-shadow: inset 0 0 10px 5px #1D2120;
}

.resultDS9 {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  padding: 6% 12%;
  border-top: #1D2120 10px solid;
  background: #5A5C51 url('../img/ds9.jpg') no-repeat center;
  background-size: cover;
  margin: 40px 0 60px;
  border-radius: 1%;
  box-shadow: inset 0 0 10px 5px #1D2120;
}

.resultShire {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  padding: 6% 12%;
  border-top: #1D2120 10px solid;
  background: #5A5C51 url('../img/shire.jpg') no-repeat center;
  background-size: cover;
  margin: 40px 0 60px;
  border-radius: 1%;
  box-shadow: inset 0 0 10px 5px #1D2120;
}

.resultMordor {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  padding: 6% 12%;
  border-top: #1D2120 10px solid;
  background: #5A5C51 url('../img/volcano.jpg') no-repeat center;
  background-size: cover;
  margin: 40px 0 60px;
  border-radius: 1%;
  box-shadow: inset 0 0 10px 5px #1D2120;
}*/


/* Floated Images */

/*.adventure,
.staycation {
  width: 46.5%;
  margin: 0 0 30px 0;
}*/

/*.adventure {
  float: left;
}

.staycation {
  float: right;
}*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */

@media (max-width: 768px) {
  /*.adventure,
  .staycation {
    float: none;
    width: 100%;
  }*/
  .mainSection {
    font-size: .8em;
  }

  .gameSection {
    float: none;
    width: 100%;
    margin: 0 10px 0 0;
    padding: 20px;
  }
}

/*

Color Scheme #1 (Gradients)

Header: #77C9D4
Status: #57BC90
Footer: #015249
Accent: #A5A5A5

Color Scheme #2

Header: #795548
Status: #388E3C
Footer: #FFF176
Accent: #FFFF00

Color Scheme #3

Header: #1D2120
Status: #5A5C51
Footer: #BA9077
Accent: #BCD5D1

*/
